.hero-title {
  font-size: 3.5rem;
  margin-top: 0;
  line-height: 1;
  text-align: left;
  max-width: 1000px
}

.hero-lead {
  max-width: 900px;
  font-size: 1.5rem;
  text-align: left;
}

.hero-overlay .hero-title,
.hero-overlay .hero-lead,
.hero-overlay .btn {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.hero-overlay a {
  color: #fff;
}

.hero-overlay .hero-lead a {
  color: #fff;
  text-decoration-line: underline;
}

.hero-overlay .btn-large {
  font-size: 1.1rem;
}

.hero-media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  text-align: right;
  padding: 2em;
}

.hero-caption {
  padding: 1em;
  font-size: 5.1rem;
  line-height: 2;
  text-align: left;
}

.hero-img-logo img {
  position: absolute;
  margin-left: 55rem;
  margin-top: -50px;
}

